<div class="center-button">
  <button mat-flat-button routerLink="/{{routeValues.CHARACTER_CREATE}}">
    Create Character
  </button>
</div>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let character of characters">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div>
          <mat-card-title>{{ character.name }}</mat-card-title>
          <mat-card-subtitle>Race: {{ character.race }}</mat-card-subtitle>
          <mat-card-subtitle>Gender: {{ character.gender }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-actions>
        <button (click)="viewCharacter(character)" mat-button>View</button>
        <button (click)="editCharacter(character)" mat-button>Edit</button>
        <button (click)="deleteCharacter(character)" mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

