<mat-toolbar color="primary" class="navbar-layout">
  <div>
    <span>RPG</span>
    <button mat-button routerLink="{{routeValues.HEARTH}}">Hearth</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button routerLink="{{routeValues.CHARACTER}}">Character</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button routerLink="{{routeValues.INVENTORY}}">Inventory</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button routerLink="{{routeValues.INTERACTIONS}}">Interactions</button>
  </div>
  <div>
    <button *ngIf="!storageService.isLoggedIn()" mat-button routerLink="{{routeValues.REGISTER}}">Register</button>
    <button *ngIf="!storageService.isLoggedIn()" mat-button routerLink="{{routeValues.LOGIN}}">Login</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button routerLink="{{routeValues.LOGOUT}}">Logout</button>
  </div>
</mat-toolbar>
