<form #characterEditForm="ngForm" (ngSubmit)="editCharacter()" autocomplete="off"
      xmlns="http://www.w3.org/1999/html">
  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>
      <mat-form-field hintLabel="Max 50 characters">
        <mat-label>Character Name</mat-label>
        <input matInput maxlength="50" placeholder="Character Name..." (input)="onInput($event)" [(ngModel)]="characterName" name="name"/>
        <mat-hint align="end">{{ nameValueHint().length }}/50</mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-radio-group ngModel name="gender">
        <mat-radio-button value="{{Gender.MALE}}">{{ Gender.MALE }}</mat-radio-button>
        <mat-radio-button value="{{Gender.FEMALE}}">{{ Gender.FEMALE }}</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Race</mat-label>
        <mat-select ngModel name="race" required>
          <mat-option>--</mat-option>
          @for (race of races; track race) {
            <mat-option [value]="race">{{ race }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Strength <span *ngIf="strength">({{ strength | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="strength" name="strength">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Dexterity <span *ngIf="dexterity">({{ dexterity | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="dexterity" name="dexterity">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Constitution <span *ngIf="constitution">({{ constitution | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="constitution" name="constitution">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Intelligence <span *ngIf="intelligence">({{ intelligence | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="intelligence" name="intelligence">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Wisdom <span *ngIf="wisdom">({{ wisdom | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="wisdom" name="wisdom">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Charisma <span *ngIf="charisma">({{ charisma | scoreModifierCalc }})</span>
        </mat-label>
        <input matInput type="number" [(ngModel)]="charisma" name="charisma">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <button type="submit">Edit</button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

</form>
